# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
library/
libraries/

# Build files
build/
dist/
*.egg-info/
*.egg

# Compiled files
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3


# Testing
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/

# Miscellaneous
.DS_Store
Thumbs.db

envi